// Default mixins and settings -----------------
@import '../template/mixins';
@import '../template/settings';
// ---------------------------------------------

$fontSizes: (
  '1': 1.6rem,
  '2': 2rem,
  '3': 2.5rem,
  '4': 3.1rem,
  '5': 3.9rem,
  '6': 4.8rem,
  '7': 6.1rem,
  '8': 7.6rem,
  '9': 9.5rem
);

$white: #ffffff;
$black: #11111a;
$blue: #24afff;
$red: #ea2027;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $black;

$mainColor: $white;
$headingColor: $white;

$mainFontSize: map-get($fontSizes, '5');
$mainFont: 'Montserrat', sans-serif;
$headingFont: 'Arvo', serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 700;
$linkColor: $blue;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: map-get($fontSizes, '9');
$heading2Size: map-get($fontSizes, '8');
$heading3Size: map-get($fontSizes, '7');
$heading4Size: map-get($fontSizes, '6');

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

// Theme template ------------------------------
@import '../template/theme';
// ---------------------------------------------

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
}

.flex {
  display: flex;
}

.justify-space-beween {
  justify-content: space-between;
}
